@model Note

<div class="mt-5 d-flex justify-content-center">
    <form method="post" asp-controller="Notes" class="border d-flex flex-column gap-3 w-50" asp-action="Create">
        <div class="bg-primary text-white d-flex flex-row  align-items-center px-4 py-2 gap-3">
        <a asp-controller="Notes" asp-action="Index" style="color:white; display:inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="25" height="25"
                fill="currentColor"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
            </svg>
         </a>

            <h2 class="text-center">Create your Note</h2>
        </div>
        <div class="p-2 d-flex flex-column gap-3">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Content">Content</label>
                <textarea rows="5" type="text" asp-for="Content" class="mt-1 form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CreatedAt">Creation Date</label>
                <input type="date" asp-for="CreatedAt" class="mt-1 form-control">
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <button class="mt-2 btn btn-primary p-2 w-100" type="submit">Create</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}